{
	"comments": false,
	"presets": ["@babel/typescript"],
	"plugins": [
		["@babel/plugin-transform-react-jsx", { "pragma": "h" }],
		["snowpack/assets/babel-plugin.js", {}],
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread"
	],
	"env": {
		"production": {
			"presets": [
				[
					"minify",
					{
						"mangle": {
							"topLevel": true,
							"keepFnName": false,
							"keepClassName": false
						},
						"keepFnName": false,
						"keepClassName": false,
						"removeConsole": true
					}
				]
			]
		}
	}
}
